@{
    ViewBag.Title = "Accounting";
    List<SelectListItem> temp = ViewData["dropDownList"] as List<SelectListItem>;
}

@using Homework.Models;
@model AccountingModel


<h2>Accounting</h2>

<div class="well">

    <div class="form-horizontal">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(a => a.Category, new
           {
               @class = "col-sm-2 control-label"
           })

                @Html.DropDownListFor(a => a.Category, temp, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Amount, new
                {
                    @class = "col-sm-2 control-label"
                })

                @Html.TextBoxFor(a => a.Amount, new
                {
                    @class = "form-control",
                    @type = "number"
                })
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Date, new
                {
                    @class = "col-sm-2 control-label"
                })

                @Html.TextBoxFor(a => a.Date, new
                {
                    @class = "form-control",
                    @type = "date"
                })
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Remark, new
                {
                    @class = "col-sm-2 control-label"
                })

                @Html.TextAreaFor(a => a.Remark, new
                {
                    @class = "form-control"
                })
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="submit" class="btn btn-default">送出</button>
                </div>
            </div>
        }
    </div>
</div>

@Html.Action("ChildAction")